/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


body {
	background:white;
	font-family:Arial;
}

#bannière { 
	text-align:center; 
	background:white;
}

#coeur {
	width:50%; 
	margin-left:20%; 
	text-align:center; 
	background:white;
	display:inline-block;
}

#colonneD {
	display:inline-block; 
#	border-left:thin solid black;
	width:10%;
	padding-left:0.5%;
	vertical-align:top;
	margin-top:2%;
	height:100%;
}

.container {
	width:100%;
	height:100%;
	overflow:auto;
}

.colonneLike{
	display:inline-block;
	float:left;
	vertical-align:top;
	width:15%;
	height:15%;
}

.fleur{
	max-height:100%;
	max-width:100%;
}

.contenu {
	display:inline-block;
	width:75%;
	float:right;
	margin-right:5%;
	text-align:left;
}

.link a:link, 
.link a:visited, 
.link a:hover, 
.link a:active,
.link {
	color:black;
	text-decoration:none;
}

.titre{
	font-size:250%;
	font-family:Courier New; 
	font-weight:bold;
	text-align:left; 
	margin-left:20%;
	margin-top:2%;
}

.titreHr {
	display:block;
	margin-top:0.5%;
	margin-bottom:2%;
	width:75%;	
	margin-left:20%;
	color: lightgray; 
}

.photo {
	width:100%;
}

.commLabel {
	position:center; 
}

.commPseudo{
	text-align:left;
	width:60%;
	margin-left:20%;
	margin-top:20px;
}

.comm {
	background:#DFF5F4;
	display:inline-block;
	text-align:left;
	width:55%;
	margin-left:5%;
	margin-top:5px;
	border-radius:8px;
}

.bouton {
	display:inline-block;
	margin-top:5px;
}

.social_logo {
	width:35%;
}
